body {
  margin: 0;
  padding: 0; 
  background-color: yellow;
  margin-left: 1%;
  margin-right: 1%;
}

#header {
  background-color: blue;
  position: fixed;
  width: 98%;
}

#main {
  background-color: red;
  height: 1000px;
  padding-top: 20px;
  margin-bottom: 20px
}

#sidebar {
  background-color: green;
  position: fixed;
  left: 100%;
  top: 20px;
  width: 200px;
}

#blog {
  background-color: pink;
  width: 100%;
  height: 200px;
  padding-top: 20px;
  display: none;
}

#gallery {
  width: 100%;
}

.pic {
  width: 33.333333%;
  float: left;
  transition: background-color 2s;
}

.red { background-color: red; }
.green { background-color: green; }
.blue { background-color: blue; }
.black { background-color: black; }

.red:hover { background-color: pink; }

@media screen and (max-width:768px) {
  body { background-color: green; }

  .pic {
    width: 50%;
  }
}