 /* STRUCTURAL LAYOUT */*/

body {
  font-family: Helvetica;
}

#container {
	width: 960px;
	margin: 0 auto;
}

header {
	background-color: black;
	border-bottom: 4px solid yellow;
	margin: 0px;
  height: 120px;
}

.punchline {
  margin: 0px auto;
  padding:10px 23px;
  background-color:grey;
  text-align: center; 
}

/* TYPOGRAPHY */

  /* HEADERS */

h1 {
  padding-top: 12px;
  padding-left: 24px;
	background: black;
	color: yellow;
  margin: 0;
}

/* ELEMENTS */

li { 
  display: inline;
  list-style: none;
  padding: 4px 8px;
}

/* LINKS */

/*COMPONENTS*/

  /* MENU */

nav {
	float: right;
  padding-right: 24px;
	background-color: black;
}

li a {
  padding: 0px 10px; 
  text-decoration: none;
  background: black;
  color: #EEEEEE;
  position:right;
}

li a:hover { color: #AAA; }

li a:active { color: #99F; }

/* HACKS */

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}